// Place all the styles related to the inventions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$primary: green;

.invention {
  border: 2px solid $primary; 
  padding: 20px;
  margin-top: 10px;
  border-radius: 15px;
}
