<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <a href="/about">The about page</a>

  <div>
    <a href="/language-choice/en">en</a>
    <a href="/language-choice/fr">fr</a>
    <a href="/language-choice/ko">ko</a>
    <a href="/language-choice/ja">ja</a>
    <a href="/language-choice/so">so</a>
    <a href="/language-choice/es">es</a>
  </div>

  <h1><%= heading %></h1>

  <h1><%= body %></h1>
</body>
</html>
